:root{
    /* colors  */
    --color-text: #2F3334;
    --color-blur-light:#9F9C97;
    --color-blur-dark:#343434;
    --color-bg:#E5E1DD;
    /* fonts  */
    --font-montserrat: "Montserrat", sans-serif;
  



}