*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;

}

nav ul li a.hide{
  display: none;
  
}

#notResponsive{
  display: none;
}

.footer{
  display: flex;
  align-self: center;
  justify-self: end;
}

.main-body{
  width: 100%;
  height: 550px;
}
/* Example media query for small screens (e.g., mobile phones) */
@media screen and (max-width: 1260px) {
  nav .nav-main {
   
    margin: 0;
    padding: 0;
    /* background: rgb(255, 255, 255); */
    position: absolute;
    top: -60px;
    
  }
  nav .nav-main a{
    margin-left: 10px;
    padding: 0px;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    
  }
  
  /* .menu-item ul .nav-main  {
      display: none;
    } */

    .menu-item ul .logo{
      margin: auto 10px;

    }
    .menu-item ul .social{
      margin-left: 240px;
    }
    nav ul li a.hide{
      padding-left: 20px ;
      display: block;
     
  align-self: right;
    }
    .contents {
      
      
    }
    .contents .main-poster{
      font-size: 20px;
    }
    .main-body h1 span{
      font-size: 80%;
    }
  }

  @media screen and (max-width: 800px){
   
    .menu-item ul .logo{
      margin: auto 65px;

    }
  .menu-item ul .social{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    }

    nav ul li a.hide{
      display: block;
      justify-self: end;
      margin-right: -50px; 
  
    }

    .social.show{
      display: block;
      position: absolute;
      top: 100px;
      left: -222px;
    }
    .main-body h1 span{
      font-size: 40%;
      width: 350px;
      
    }
    .main-body h1 span::before{
      display: none;
    }
  }

  @media screen and (max-width: 353px){
     nav{
      display: none;
      }
      #notResponsive{
        display: block;
        float: left;
        width: 200px;
        padding: 20px;
        align-self: center;
        margin: 200px;
        background-color: rgb(255, 186, 186);
        border-radius: 14%;
        font-weight: 500;

        

      }
     .main-body{
      display: none;
     }
  }
body{
  
    background-color: rgb(255, 255, 255);



font-family: 'League Spartan', sans-serif;
display: flex;
flex-direction: column;
align-content: center;

}
/* .social.show{
  display: block;
      position: absolute;
      top: -100px;
      left: 222px;
} */

.nav-main.show{
  top:60px;

}
nav {
  margin-top: 10px;
 
}
.menu-item{
    
    font-size: 32px;
    color: rgb(255, 255, 255);

    cursor: pointer;
    
   
    /* transition: all 0.3s ease-in-out; */
    
}
.menu-item ul div{
  display: inline-block;


}

.menu-item a {
    text-decoration: none;
    margin: 5px;  
    color: rgb(0, 0, 0);

}

.menu-item .logo{
    
    font-weight: bold;
    text-decoration: none;
   
    margin: auto 120px;
   
 
}
.menu-item ul .social li a i{

 font-size: 28px;
}

.nav-main a.active,a:hover{
  opacity: 0.7;
  
  
}
nav ul{
  float: left;
  
}

nav ul li{
  display: inline-block;
}
.contents .main-poster {
    
    width: 580px;
    height: 80px;
    margin: 20% 5% 5% 5%;
    font-size: 44px;
    background-color: rgb(162, 228, 250);
   
}

.main-body h1{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  font-size: 600%;
}

.main-body h1 span{
  position: relative;
  color: rgb(2, 20, 24);
  
  
}
.main-body h1 span::before{
 content: "";
  background-color: black;
  top: 35%;
  right: -3%;
  position: absolute;
  height: 80%;
  width: 5px;
  transform: translateY(-45%);
  animation: blink 0.9s infinite;
}

@keyframes blink {
  50%{
    opacity: 0;
  }
}

.contents .comment{
    width: auto;
   
    font-size: 30px;
    align-self: end;
    margin: 5% 40% 2% 40%;
    font-weight: 500;
}

.contents .comment2{
    width: auto;
    font-size: 30px;
    align-self: end;
    margin: 0 35%;
    font-weight: 500;
}

.contents .footer{
    width: auto;
    margin:25% 42% 4% 42%;
    font-size: 20px;
   
}